.content {
    background: #faf9f7;
    display: flex;
    justify-content: space-between;
    max-width: 2000px;
    padding: 40px 20px;
    font-family: "Montserrat", "Helvetica", sans-serif;
    font-size: 0.9rem;
    margin: 0 auto;

    @media (max-width: 1024px) {
        flex-direction: column;
    }

    @media (max-width: 650px) {
        padding: 20px 10px;
    }
}
