@import "../../scss/variables";

.footer {
    background: $grey-100;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.footer__header {
    padding-bottom: 30px;
    width: 50%;
    margin: 0 auto;

    @media (max-width: 1024px) {
        width: 65%;
    }

    @media (max-width: 650px) {
        width: 85%;
    }

    h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    p {
        text-align: left;
    }
}

.footer__content {
    text-align: center;
    background-color: $grey-200;
    font-size: 0.8rem;

    h3 {
        padding: 20px;
        font-size: 1rem;
    }
}

.authors {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;

    @media (max-width: 650px) {
        flex-direction: column;
    }

    .author {
        padding: 0 10px;
    }
}
