.form {
    background: #ffffff;
    display: flex;
    width: 18%;
    padding: 20px;
    border: 1px solid #b8b2a7;
    border-radius: 5px;

    @media (max-width: 1024px) {
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        margin: 0 auto;

        @media (max-width: 1024px) {
            flex-direction: row;
            justify-content: space-around;
        }

        @media (max-width: 650px) {
            flex-direction: column;
        }

        .form-input-div {
            height: 33%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            @media (max-width: 1024px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 30%;
                height: 100%;
            }

            @media (max-width: 650px) {
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-end;
                padding-bottom: 10px;
                width: 100%;
            }
        }

        .form-group {
            @media (max-width: 650px) {
                width: 48%;
            }
        }

        .input-group-text {
            background: #faf9f7;
        }

        .button-div {
            display: flex;
            flex-direction: column;

            @media (max-width: 650px) {
                width: 48%;
            }
        }

        button {
            width: 100%;
            margin-bottom: 10px;
            border: 0;
        }

        .submit {
            background: #cb6e17;

            &:active {
                background: #b8b2a7 !important;
            }
        }

        .reset {
            background: #a0021e;

            &:active {
                background: #b8b2a7 !important;
            }

            @media (max-width: 1024px) {
                margin-bottom: 17px;
            }
        }
    }
}

.form-label {
    display: flex;
    justify-content: space-between;
}
