$red: #95041c;

$orange: #cb6e17;

$black: #212529;
$white: #ffffff;

$grey-100: #faf9f7;
$grey-200: #e8e6e1;
$grey-300: #b8b2a7;

$border-style-grey: 1px solid $grey-300;
$border-style-red: 1px solid $red;
$border-radius: 4px;

$base-font-size: 16px;
$display-font-stack: "Open Sans", "Helvetica", sans-serif;
$body-font-stack: "Montserrat", "Helvetica", sans-serif;
